extends ../layout

include ../mixins/formElements/_formContainer
include ../mixins/formElements/_fields

block content
    +formContainer("System", system)
            h3.subtitle.is-3.is-marginless People
            .is-divider.is-marginless
            br

            +fieldGroup()
                - const clientOptions = clients.map(client => ({value: client._id, text: `${client.firstName} ${client.lastName} [${client.email}]`}))
                +searchSelect("Client", "client", clientOptions, system.client, true)

            +fieldGroup()
                - const inspectorOptions = inspectors.map(inspector => ({value: inspector._id, text: `${inspector.name}`}))
                +searchSelect("Inspector", "inspector", inspectorOptions, system.inspector, true)

            +fieldGroup()
                - const contractorOptions = contractors.map(contractor => ({value: contractor._id, text: `${contractor.name}`}))
                +searchSelect("Contractor", "contractor", contractorOptions, system.contractor, true)



            h3.subtitle.is-3.is-marginless Cover letters
            .is-divider.is-marginless
            br

            +fieldGroup()
                +textArea("Inspector Letter", "inspectorLetterBody", "Inspector Letter...", system.inspectorLetterBody)
                +textArea("Client Letter", "clientLetterBody", "Client  Letter...", system.clientLetterBody)


            h3.subtitle.is-3.is-marginless Site Location
            .is-divider.is-marginless
            br  

            +fieldGroup()
                .column.is-paddingless
                    +fieldGroup()
                        - const coords = system.location ? system.location.coordinates : []
                        +input("Lat", "text", "location.coordinates[0]", "0.00", coords[0] || 0.00)
                        +input("Lng", "text", "location.coordinates[1]", "0.00", coords[1] || 0.00)

                    +input("Municipality", "text", "municipality", "Municipality", system.municipality)

                    br
                    +textArea("Address", "location.address", "Address...", system.location ? system.location.address : "")
                    br

                    +fieldGroup()
                        +input("Width", "number", "width", "0.00", system.width)
                        +input("Length", "number", "length", "0.00", system.length)
                    +input("Water Source", "text", "water", "Water Source", system.water)


            h3.subtitle.is-3.is-marginless#Attachments Attachments
            .is-divider.is-marginless
            br  

            .columns
                .column
                    +fileAttachments("Site Photos", "sitePhotos", system.sitePhotos)

                .column
                    +fileAttachments("Map Photos", "mapPhotos", system.mapPhotos)

                .column
                    +fileAttachments("Floor Plans", "floorPlans", system.floorPlans)

            
            h3.subtitle.is-3.is-marginless#TestPits Test Pit
            .is-divider.is-marginless
            br  

            +fieldGroup()
                +input("Test Pit Date", "date", "testPitDate", "", system.testPitDate)
                +input("Pit Depth", "number", "pitDepth", "0.00", system.pitDepth)

            //- Soil Layers
            +soilLayerTable(system.soilLayers)
            br

            +fieldGroup()
                +textArea("Test Pit Conclusion", "pitConclusion", "Conslusion...", system.pitConclusion)
            




    code=JSON.stringify({system, clients, contractors, inspectors, specs}, null, 2)
    script(src="/dist/SystemForm.bundle.js")
