extends ../layout

include ../mixins/formElements/_formContainer
include ../mixins/formElements/_fields

block content
    +formContainer("System", system)
            h3.subtitle.is-3.is-marginless People
            .is-divider.is-marginless
            br

            +fieldGroup()
                - const clientOptions = clients.map(client => ({value: client._id, text: `${client.firstName} ${client.lastName} [${client.email}]`}))
                +searchSelect("Client", "client", clientOptions, system.client, true)

            +fieldGroup()
                - const inspectorOptions = inspectors.map(inspector => ({value: inspector._id, text: `${inspector.name}`}))
                +searchSelect("Inspector", "inspector", inspectorOptions, system.inspector, true)

            +fieldGroup()
                - const contractorOptions = contractors.map(contractor => ({value: contractor._id, text: `${contractor.name}`}))
                +searchSelect("Contractor", "contractor", contractorOptions, system.contractor, true)



            h3.subtitle.is-3.is-marginless Cover letters
            .is-divider.is-marginless
            br

            +fieldGroup()
                +textArea("Inspector Letter", "inspectorLetterBody", "Inspector Letter...", system.inspectorLetterBody)
                +textArea("Client Letter", "clientLetterBody", "Client  Letter...", system.clientLetterBody)


            h3.subtitle.is-3.is-marginless Site Location
            .is-divider.is-marginless
            br  

            +fieldGroup()
                .column.is-paddingless
                    +fieldGroup()
                        - const coords = system.location ? system.location.coordinates : []
                        +input("Lat", "text", "location[coordinates][0]", "0.00", coords[0] || 0.00)
                        +input("Lng", "text", "location[coordinates][1]", "0.00", coords[1] || 0.00)

                    +input("Municipality", "text", "municipality", "Municipality", system.municipality)

                    br
                    +textArea("Address", "location[address]", "Address...", system.location ? system.location.address : "")
                    br

                    +fieldGroup()
                        +input("Width", "number", "width", "0.00", system.width)
                        +input("Length", "number", "length", "0.00", system.length)
                    +input("Water Source", "text", "water", "Water Source", system.water)


            h3.subtitle.is-3.is-marginless#Attachments Attachments
            .is-divider.is-marginless
            br  

            .columns
                .column
                    +fileAttachments("Site Photos", "sitePhotos", system.sitePhotos)

                .column
                    +fileAttachments("Map Photos", "mapPhotos", system.mapPhotos)

                .column
                    +fileAttachments("Floor Plans", "floorPlans", system.floorPlans)

            
            h3.subtitle.is-3.is-marginless#TestPits Test Pit
            .is-divider.is-marginless
            br  

            +fieldGroup()
                - const date = system.testPitDate && system.testPitDate.toISOString().split("T")[0]
                +input("Test Pit Date", "date", "testPitDate", "", date)
                +input("Pit Depth", "number", "pitDepth", "0.00", system.pitDepth)
                

            //- Soil Layers
            +soilLayerTable(system.soilLayers)
            br

            +fieldGroup()
                +textArea("Test Pit Conclusion", "pitConclusion", "Conslusion...", system.pitConclusion)



            h3.subtitle.is-3.is-marginless#Perc Perc Tests
            .is-divider.is-marginless
            br 

            +fieldGroup()
                - const date = system.percTestDate && system.percTestDate.toISOString().split("T")[0]

                +input("Perc Test Date", "date", "percTestDate", "", date)

            .columns
                .column
                    h4.subtitle.is-4 On Site
                    +fieldGroup()
                        - const rates = system.onSitePercRates || [0,0,0]
                        +input("Rate 1", "number", "onSitePercRates[0]", "0", rates[0])
                        +input("Rate 2", "number", "onSitePercRates[1]", "0", rates[1])
                        +input("Rate 3", "number", "onSitePercRates[2]", "0", rates[2])

                    h4.subtitle.is-4 Off Site
                    +fieldGroup()
                        - const rates = system.offSitePercRates || [0,0,0]
                        +input("Rate 1", "number", "offSitePercRates[0]", "0", rates[0])
                        +input("Rate 2", "number", "offSitePercRates[1]", "0", rates[1])
                        +input("Rate 3", "number", "offSitePercRates[2]", "0", rates[2])
                .column
                    h4.subtitle.is-4 Test Pit Attachments
                    +fileAttachments("Pit Drawings", "pitDrawings", system.pitDrawings)





            h3.subtitle.is-3.is-marginless#Building Building Info
            .is-divider.is-marginless
            br  

            .columns
                .column

                        +input("# of Bedrooms", "number", "numBedrooms", "", system.numBedrooms || 0)
                        +input("Square Footage", "number", "squareFootage", "", system.squareFootage || 0)
                        +input("Outlets", "number", "outlets", "", system.outlets || 0)
                        +input("Trench Depth", "number", "trenchDepth", "", system.trenchDepth || 0)
                        +input("Imported Fill", "number", "importedFill", "", system.importedFill || 0)
                        br
                        +fileAttachments("Site Plans", "sitePlans", system.sitePlans)
            
                .column
                    +fixtureUnits(system.fixtureUnits)


            h3.subtitle.is-3.is-marginless#specs Specs
            .is-divider.is-marginless
            br  

            +specSelect(system.specs, specs)

            
    //- code=JSON.stringify({system}, null, 2)
    script(src="/dist/SystemForm.bundle.js")
