extends layout

block content

    .container
        p.is-size-4.has-text-centered=`${isNew ? "" : "Edit Client"}`
        h2.title.has-text-centered.is-2=`${isNew ? "New Client" : title}`
        form(action=`/clients/${client.slug || "new"}`, method="post").box
    
            .field
                .field-body
                    .field
                        label.label.subtitle.is-4.is-marginless  Client Name
                            .control
                                input.input(type="text", name="firstName" placeholder="First" value=client.firstName required)
                    .field
                        label.label.subtitle.is-4.is-marginless  Client Name
                            .control
                                input.input(type="text", name="lastName" placeholder="Last" value=client.lastName required)

            br

            .field
                .field-label.is-normal
                label.label.subtitle.is-4.is-marginless   Email
                    .control
                        input.input(type="email", name="email" placeholder="example@example.com" value=client.email)

            br

            .columns
                .column
                    .field
                        label.label.subtitle.is-4.is-marginless  Home Phone
                            .field-body
                                .field
                                    .control
                                        input.input(type="tel", name="homePhone" placeholder="709-555-5555" value=client.homePhone)

                .column
                    .field
                        label.label.subtitle.is-4.is-marginless Mobile Phone
                            .control
                                input.input(type="tel", name="mobilePhone" placeholder="709-555-5555" value=client.mobilePhone)

            br

            .field
                label.label.subtitle.is-4.is-marginless Address
                    .field
                        .control
                            textarea.textarea(name="address" placeholder="123 Main St\nSt. John's, NL\nA1A 1A1" rows=3)=client.address

            br

            .field
                label.label.subtitle.is-4.is-marginless Notes
                    .control
                        textarea.textarea(name="notes" placeholder="Enter Notes..." value)=client.notes


            br 

            .field.is-grouped.is-grouped-centered
                p.control
                    button.button.is-primary(type="submit") Submit
                p.control
                    a.button.is-light(href=`/clients/${client.slug || ""}`) Cancel