mixin fieldLabel(label)
    .field
        label.label.subtitle.is-4.is-marginless(style=`${label ? "" : "color: rgba(0,0,0,0)"}`)= label || "_"
            .control
                block

mixin fieldGroup()
    .field
        .field-body
            block
        br

mixin input(label, type, name, placeholder, value, required)
    +fieldLabel(label)
        input.input(type=type, name=name placeholder=placeholder value=value required=required)


mixin textArea(label, name, placeholder, value, required)
    +fieldLabel(label)
        textarea.textarea(name=name placeholder=placeholder rows=3)=value


mixin searchSelect(label, name, options, value, required)

    .column.is-4.is-paddingless
        +input(label, text, `${name}Search`, `Filter ${name}s`)

    .column.is-paddingless
        +fieldLabel()
            .select.is-fullwidth
                select(name=name data-filterInput=`${name}Search` required=required).searchable
                    option(value="")=`Select ${label}`
                    each option in options
                        - const selected = option.value.toString() == value.toString()
                        option(value=option.value selected=selected)= option.text


mixin fileAttachments(label, name, files)
    table.table.is-striped.is-fullwidth.fileAttachTable(data-files=files data-name=name)
        thead
            tr
                th(colspan=2)= label
        tbody
            //- each file in files
            //-     tr
            //-         td 
            //-             a(href=`/files/uploads/${file.name}` target="_bank")
            //-                 p=`${file.name.slice(0,25)}${file.name.length > 25 ? "..." : ""}`

            //-         td
            //-             p.has-text-right
            //-                 a.button.is-danger.attachmentDeleteBtn Delete
        tfoot
            tr
                td
                    .file.has-name.is-fullwidth
                        label.file-label
                            input.file-input.attachmentAddInput(type="file" name=`${name}UploadField`)
                            .file-cta
                                .file-icon
                                    i.fas.fa-upload
                                .file-label Choose a file
                            .file-name

                        
                                
                    td
                        p.has-text-right
                            a.button.is-success.attachmentAddBtn Add

//- TODO: Dynamic number of layers using JS
mixin soilLayerTable(layers)
    - layers = layers || [{}]
    +fieldLabel("Soil Layers")
    table.table.is-fullwidth
        thead
            tr
                th Depth
                th Soil Description
                th Groundwater / Bedrock Observations
        tbody
            each i in [0, 1, 2, 3, 4]
                - layers[i] = layers[i] || {}
                tr 
                    td
                        input.input(type="text", name=`soilLayers[${i}][depth]` placeholder="0.0 - 0.0" value=layers[i].depth)
                    td
                        input.input(type="text", name=`soilLayers[${i}][description]` placeholder="Soil Description" value=layers[i].description)
                    td
                        input.input(type="text", name=`soilLayers[${i}][observations]` placeholder="Groundwater / Bedrock Observations" value=layers[i].observations)

        
mixin fixtureUnits(units)
    - units = units || {}

    - 
        const table = {
            basins: {label: "Basins", value: 1} ,
            bathTubs: {label: "Bath Tubs", value: 1.5} ,
            bathroomGroups: {label: "Bathroom Groups", value: 6} ,
            bidet: {label: "Bidets", value: 1} ,
            floorDrain4in: {label: "Floor Drains 4in", value: 3} ,
            floorDrain3in: {label: "Floor Drains 3in", value: 3} ,
            floorDrain2in: {label: "Floor Drains 2in", value: 2} ,
            kitchenSink: {label: "Kitchen Sink", value: 1.5} ,
            laundryStandPipe: {label: "Laundry Stand Pipe", value: 1.5} ,
            laundryTray: {label: "Laundry Tray", value: 1.5} ,
            showerHeadSingle: {label: "Shower Head Single", value: 1.5} ,
            showerHeadMany: {label: "Shower Head Many", value: 3} ,
            waterCloset: {label: "Water Closet", value: 4} ,
        };


    table.table.is-fullwidth
        thead 
            tr
                th Fixture Unit
                th Value
                th Number
        tbody
            each value, name in table
                tr
                    td= value.label
                    td= value.value
                    td                         
                        input.input(type="number", name=`fixtureUnits[${name}]`  min=0 value=units[name] || 0)


mixin specSelect(specs, options)

    .columns.is-multiline
        each option in options
            .column.is-one-quarter
                label.checkbox.is-size-5
                    - const checked = specs.indexOf(option._id) >= 0

                    input(type="checkbox" name="specs[]" value=option._id checked=checked)
                    div= ` ${option.name}`